{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
   <!-- Main -->

  <div class="bg-light min-vh-100 " style="background: rgb(255, 255, 255);">
      <div style="height: 100%;" class="bg-white main mx-auto flex-column d-flex align-items-center justify-content-center">
        <div class="">
          <i class='bx bxs-check-circle fs-60 text-green'></i>
        </div>
        <h2 class="text-center">Ваша заявка принята!</h2>
        
         
      </div>

  </div>

  
{% endblock %}